<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <title>관리자 장소</title>
</head>
<body>
<p>
  <a id="logout">로그아웃</a>
</p>
<p>
  <span id="placeTitle">This is admin place detail page.</span>
</p>
<form id="placeForm">
  <table id="placeTable">
    <tbody>
    <tr>
      <td><label for="placeType">장소 유형</label></td>
      <td>
        <select id="placeType" name="placeType" required>
          <option>스포츠</option>
          <option>레스토랑</option>
          <option>일반</option>
        </select>
      </td>
    </tr>
    <tr>
      <td><label for="placeName">장소 이름</label></td>
      <td><input type="text" id="placeName" name="placeName" required></td>
    </tr>
    <tr>
      <td><label for="address">주소</label></td>
      <td><input type="text" id="address" name="address" required></td>
    </tr>
    <tr>
      <td><label for="phoneNumber">전화번호</label></td>
      <td><input type="tel" id="phoneNumber" name="phoneNumber" required></td>
    </tr>
    <tr>
      <td><label for="capacity">수용 인원</label></td>
      <td><input type="number" id="capacity" name="capacity" required></td>
    </tr>
    <tr>
      <td><label for="memo">메모</label></td>
      <td><textarea id="memo" name="memo"></textarea></td>
    </tr>
    </tbody>
  </table>
  <input type="hidden" id="placeId" name="id">
  <input type="hidden" id="csrf">
</form>
<button id="savePlace" type="submit">저장</button>
<button id="removePlace" type="button">삭제</button>
<button id="backToPlaces" type="button">취소</button>
<hr>
<table id="eventTable">
  <thead>
    <tr>
      <th>이벤트명</th>
      <th>이벤트 상태</th>
      <th>시작 ~ 종료</th>
      <th>현재 인원 / 최대 인원</th>
      <th>상세</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="eventName">테스트 이벤트</td>
      <td class="eventStatus">OPENED</td>
      <td class="eventDatetime">1/1 9AM	~ 1/1 12PM</td>
      <td class="people">0 / 10</td>
      <td><a>상세</a></td>
    </tr>
  </tbody>
</table>
<button id="newEvent" type="button">새 이벤트</button>
</body>
</html>
